.askai {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  background-color: #fac8a4;
  color: #000000;
  position: relative;
  padding: 2rem;
}
.askai-contain {
  display: flex; /* Use Flexbox layout */
  justify-content: center; /* Space out the child elements */
  align-items: center; /* Align items at the start of the container */
  gap: 20px; /* Optional: Adjust space between the elements if needed */
  padding: 50px; /* Optional: Adjust padding around the container */
  background-color: #ffffff; /* Set the background color to a soft peach */
}

.askai-container {
  margin-left: 40px; /* Adjust this value to move the container to the right */
  max-width: 1200px;
  width: 100%;
  margin: 25px auto;
  background-color: #fac8a4;

  color: #4b39bd;
}

.animation-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #fcfcfc;
  top: 10%;
  left: 50%;
  transform: translate(-55%, 12%);
  width: 80%;
  max-width: 400px;
  height: auto;
}

.welcome-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem;
}

.chat-window {
  width: 100%;
  max-width: 800px;
  height: 60vh;
  overflow-y: auto;
  border: 1px solid #844747;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 1rem;
  margin-top: 1rem;
  box-sizing: border-box;
  color: #000000;
}

.chat-window .user-message {
  color: #000000;
}

.chat-window .bot-message {
  margin-bottom: 1rem;
}

input[type="text"] {
  width: calc(110% - 50px);
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #888;
  background-color: #fac8a4;
  color: #000000;
  margin-right: 10px;
}

button-ai {
  width: 100%;
  max-width: 100px;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #fc9953;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #fc9953;
}

/* Styling for the Ask AI footer */
.footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #fac8a4; /* Dark background to separate footer */
  border-top: 1px solid #444;
}

.footer p {
  color: #000000; /* Light grey color for readability */
  font-size: 0.9rem; /* Slightly smaller font */
  line-height: 1.5;
}

.footer a {
  color: #ffffff; /* Match link color with theme */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Make the link bold */
}

.footer a:hover {
  text-decoration: underline; /* Add underline on hover */
  color: #fc9953; /* Slight color change on hover */
}
